eth_base=$OPERATOR_WALLET_ADDRESS
chain="mainnet"

[deposit]
withdrawal_address=0xb9d7934878b5fb9610b3fe8a5e441e8fad7e293f
path="/path/to/deposit/tool/deposit/"

[csm]
node_operator_id=999999

[csm.contracts]
module_address="0xdA7dE2ECdDfccC6c3AF10108Db212ACBBf9EA83F"
accounting_address="0x4d72BFF1BeaC69925F8Bd12526a39BAAb069e5Da"
VEBO_address="0x0De4Ea0184c2ad0BacA7183356Aea5B8d5Bf5c6e"

[rpc]
execution_address="ws://my-exec-rpc-address:port"
consensus_address="http://my-beacon-rpc-address:port"

[validator_api]
auth_token="api-token-0x123456789"
ssh_address="user@server"
port=5062

[remote_signer]
ssh_address="user@signer"
port=22
url="http://my-remote-signer.xyz:port"

[monitoring]
node_operator_ids = [999999]
