eth_base=$OPERATOR_WALLET_ADDRESS
chain="mainnet"

[deposit]
path="/path/to/deposit/tool/deposit/"

[csm]
node_operator_id=999999

[rpc]
execution_address="ws://my-exec-rpc-address:port"
consensus_address="http://my-beacon-rpc-address:port"

[validator_api]
auth_token="api-token-0x123456789"
ssh_address="user@server"
port=5062

[remote_signer]
ssh_address="user@signer"
port=22
url="http://my-remote-signer.xyz:port"

[monitoring]
node_operator_ids = [999999]

[telegram]
bot_token = 'xxxxxxxx-telegram-bot-token'
channel_id = '-123456'
