eth_base=<eth_base_address>
chain="holesky"

[deposit]
withdrawal_address=<withdrawal_address>
path="/path/to/deposit/tool/deposit/"

[csm]
node_operator_id=999999

[csm.contracts]
module_address="0x4562c3e63c2e586cD1651B958C22F88135aCAd4f"
accounting_address="0xc093e53e8F4b55A223c18A2Da6fA00e60DD5EFE1"

[rpc]
address="http://my-rpc-address:port"

[validator_api]
auth_token="api-token-0x123456789"
ssh_address="user@server"
port=5062

[remote_signer]
ssh_address="user@signer"
port=9000
url="http://my-remote-signer.xyz"

[state_check]
node_ids = ['420','666']
